/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* SITE STYLES */
body {
  background-color: lightgray;
  padding: 24px;
  max-width: 1024px;
  margin-inline: auto;
}

header {
  margin-block-end: 16px;
}

header h1 {
  font-size: 42px;
  text-align: center;
  color: crimson;
  line-height: 1;
  margin-block-end: 16px;
}

header p {
  max-width: 800px;
  margin-inline: auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-block-end: 16px;
}

li a {
  display: flex;
  gap: 16px;
  border: 3px outset black;
  padding: 16px;

  color: black;
  text-decoration: none;
}

li a:hover {
  background-color: silver;
}

li a:active {
  background-color: gray;
  border: 3px inset black;
}

li img {
  border: 3px inset black;
  max-width: 128px;
  align-self: flex-start;
}

marquee p {
  display: flex;
  font-size: large;
  color: maroon;
}

marquee img {
  max-width: 32px;
}
